*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

main h1 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0.5em;
}

main .inputs {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 50px;
}

main .inputs dl {
  font-size: 18px;
}

main .inputs dl dt {
  font-weight: bold;
  margin-bottom: .5em;
}

main .inputs dl dt:not(:first-of-type) {
  margin-top: 50px;
}

main .inputs dl dd label:not(:last-of-type) {
  margin-right: 30px;
}

main .inputs dl dd input {
  font-size: 20px;
  padding: 7px;
}

main .inputs dl dd input[type="number"] {
  min-width: 100px;
}

main .inputs button {
  display: block;
  color: #fff;
  background-color: #16f;
  box-shadow: 0 3px #002b77;
  font-size: 18px;
  border: 0;
  outline: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 50px auto 0;
  cursor: pointer;
  transition: .3s;
}

@media screen and (min-width: 769px) {
  main .inputs button:hover {
    transform: translateY(3px);
    box-shadow: 0 0;
  }
}

main .passwordList li input {
  font-size: 20px;
  padding: 7px;
}
